@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap");
/* obs: ainda não sei fazer a barra de pesquisa funcionar.*/
    :root{
        --dark-10: #121214;
        --dark-20: #17171a;
        --dark-30: #202024;
        --dark-40: #252529;
        --lightgray: #757575;
        --redp: #2a2ca7;

        --gray: #afabb6;
        --white: #ffffff;
    }


        @media screen and (min-width: 320px) and (max-width: 500px){
            

        section > h1{
            font: 1em "inter";
            
        }

        section > p{
            font: 0.8em "inter";
        }
        
    }